<h1>Editing tik tok post</h1>

<%= render "form", tik_tok_post: @tik_tok_post %>

<br>

<div>
  <%= link_to "Show this tik tok post", @tik_tok_post %> |
  <%= link_to "Back to tik tok posts", tik_tok_posts_path %>
</div>
